<svg:line
  class="candle-median-vertical"
  [attr.x1]="dataset.vertical.x1"
  [attr.y1]="dataset.vertical.y1"
  [attr.x2]="dataset.vertical.x2"
  [attr.y2]="dataset.vertical.y2"
  [attr.stroke-width]="0.5"
  [attr.stroke-dasharray]="'5 5'"
  [attr.stroke]="'rgba(0, 0, 0, 0.9)'"
/>
<svg:line
  class="candle-median-horizontal"
  [attr.x1]="dataset.horizontal.x1"
  [attr.y1]="dataset.horizontal.y1"
  [attr.x2]="dataset.horizontal.x2"
  [attr.y2]="dataset.horizontal.y2"
  [attr.stroke-width]="0.5"
  [attr.stroke-dasharray]="'5 5'"
  [attr.stroke]="'rgba(0, 0, 0, 0.9)'"
/>
